body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
    margin: 0;
    color: #fff; /* White text */
}

.container {
    background-color: #333; /* Dark background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Light shadow */
    text-align: center;
    width: 600px; /* Increased width */
    max-height: 80vh; /* Flexible height */
    overflow-y: auto; /* Scrollbar for overflow */
}

h1 {
    margin-bottom: 20px;
    color: #fff; /* White text */
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #555; /* Dark background for input */
    color: #fff; /* White text */
}

button {
    padding: 10px 20px;
    background-color: #c72222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #555; /* Dark background for list items */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #777;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* White text */
}

li.completed {
    text-decoration: line-through;
    color: #bbb;
}

li .delete-btn {
    background-color: #777; /* Changed to blend with the theme */
    border: none;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 15px;
}

li .delete-btn:hover {
    background-color: #555; /* Changed to match the li background on hover */
}

li .checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #c72222;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li .checkbox:checked {
    background-color: #c72222;
    border: 2px solid #c72222;
}
